* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

html{
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
}

body{
    background-color: var(--light-grayish-blue);
}

@media screen and (max-width: 375px){
    .drawers{
        width: 30.4rem;
        height: 17.0rem;
        
        background: url(./images/drawers.jpg) no-repeat;
        background-size: cover;
        border-radius: .8rem .8rem 0 0;
        
        margin-block-start: 15%;
        margin-inline: auto;
    }

    section{
        width: 30.4rem;
        border-radius: 0px 0px .8rem .8rem;
        
        margin-inline: auto;

        background-color: white;
    }

    .title{
        padding-top: 3.5rem;
        padding-inline: 3.3rem;

        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.9rem;

        color: var(--very-dark-grayish-blue);

        margin-inline: auto;
    }

    .text{
        padding-top: 1rem;
        padding-inline:3.3rem;

        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: var(--desaturated-dark-blue);

        margin-inline: auto;
    }
}